@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--very-dark-teal);
}

a:hover {
    color: inherit;
}

:root {
    --very-dark-teal: #040D12;
    --dark-teal: #183D3D;
    --teal: #5C8374;
    --light-teal: #93B1A6;
    --distance-from-edges: 110px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: var(--very-dark-teal);
    color: var(--light-teal);
}


.library > h1 {
    font-family: "Bitcount Prop Single";
    font-size: 2.5rem;
}

.library > svg {
    height: 2.5rem;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 15px var(--distance-from-edges);
}

.header > .right-header {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header > .right-header > .show-collection,
.header > .right-header > .new-book {
    padding: 5px 15px;
    font-size: 1.2rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    color: var(--light-teal);
    background-color: var(--very-dark-teal);
}

.header > .right-header > .new-book:hover,
.header > .right-header > .show-collection:hover {
    background-color: var(--light-teal);
    color: var(--very-dark-teal);
}

.content {
    display: grid;
    flex: 1;
    align-self: stretch;
    margin: 30px var(--distance-from-edges); 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}

.footer {
    background-color: var(--light-teal);
    display: flex;
    color: var(--very-dark-teal);
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 10px var(--distance-from-edges);
}

.footer a:hover {
    text-decoration: underline;
}

.content > .empty-box {
    border: 2px solid var(--light-teal);
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    width: 180px;
    height: 276px;
}

.plus-icon {
    transition: 0.5s linear;
}

.empty-box:hover .plus-icon {
    transform: rotate(135deg) scale(1.4);
}